h1
{
	text-decoration: underline;
}
/* Common Header */
body
{
	background-color: #d5d5d5;
}
.header button
{
	background-color:#8C481B;
	text-align:center;
}
button span .comingsoon
{
	color:#dddddd;
}
button
{
	display:inline-block;
	height:50px;
	width:125px;
	font-size:20px;
}
nav
{
	text-align:center;
}